*{
    margin: 0;
    padding: 0;
}

.inter-main-font{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

body {
    font-family: "Inter", sans-serif;
}

/* HEADER */

header {
    background-color: #84C992;
}

.top-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}

#top-banner {
    transition: margin-left .5s;
}

.sidebar img{
    padding-left: 2rem;
}

.logo img {
    height: 50px;
    padding-left: 7rem;
}

.navigations img{
    padding-right: 2rem;
    right: 10%;
}

/* PROGRESS BAR */

.progress-bar{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

ul{
    display: flex;
}

ul li{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

ul li .progress{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #A8A8A8;
    margin: 12px 52px;
    display: grid;
    place-items: center;
    color: #fff;
    position: relative;
    cursor: pointer;
}

.progress::after{
    content: " ";
    position: absolute;
    width: 105px;
    height: 2.5px;
    background-color: #A8A8A8;
    right: 30px;
}

#one{
    background-color:#65DB7B;
}

.one::after{
    width: 0;
    height: 0;
}

ul li .progress .uil{
    display: none;
}

/* PRODUCT DETAILS */

.user-products{
    width:100%;
    margin-bottom: 6rem;
}

.summary{
    background-color: white;
    border-radius: 2rem;
    box-shadow: 0px 4px 6px 2px grey;
    display: grid;
    grid-template-columns: [picture] 25% [text] 55% [count] 20%;
    height: auto;
    margin-left: 22VW;
    margin-top: 5rem;
    max-width: 50%;
    padding: 2.5rem;
}

.summary img{
    grid-column-start: picture;
    grid-column-end: text;
    width: 10rem;
    height: 10rem;
    justify-self: center;
}

.product-details{
    grid-column-start: text;
    line-height: 3rem;
    padding-left: 2rem;
    font-size: 18px;
}

.product-count{
    align-self: center;
    text-align: center;
}

#countdown{
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    font-size: 2rem;
}

#countup{
    background: #65DB7B;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    font: inherit;
    margin-top: 0.5rem;
    outline: inherit;
    overflow: hidden;
    width: 25%;
}

#countup a{
    display: block;
    float: center;
    font-size: 32px;
    line-height: 1em;
    margin-top: -0.5em;
    padding-bottom: 0.4rem;
    padding-top: 1rem;
    text-align: center;
}

#countup:hover{
    background-color: #3FAB53;
}

/* TOTAL PRICE */

.total-and-meez img{
    margin-left: 60%;
}

.total-price{
    background-color: white;
    border-radius: 2rem;
    box-shadow: 0px 4px 6px 2px grey;
    display: grid;
    grid-template-columns: [edge-1] 5% [text] 25% [space] 45% [button] 20% [edge-2] 5%;
    height: auto;
    margin-left: 22VW;
    margin-top: 0;
    max-width: 50%;
    padding: 2.5rem;
    margin-bottom: 6rem;
}

.price-text{
    grid-column-start: text;
    grid-column-end: space;
    text-align: center;
    font-size: 18px;
    line-height: 2rem;
}

.cart-continue{
    grid-column-start: button;
    grid-column-end: edge-2;
    background-color: #4EC965;
    border-radius: 30px;
    border: none;
    box-shadow: 0px 4px 5px 0px grey;
    color: white;
    cursor: pointer;
    font-size: 18px;
    padding: 10px 25px;
    align-self: center;
    text-decoration: none;
    text-align: center;
}

.cart-continue:hover{
    background-color: #3FAB53;
}

/* FOOTER */

.footer-container{
    background-color: #84C992;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    /* max-width: 1500px; */
    padding: 0 20px;
}

.column{
    flex: 1;
    margin: 0.5rem;
    min-width: 200px;
    padding: 1rem;
}

.column h3{
    margin-bottom: 10px;
    line-height: 2rem;
}

.column p{
    line-height: 2rem;
}

#Hotline{
    line-height: normal;
}

.social-media{
    padding-top: 1rem;
    display: flex;  
    gap: 1rem;
    justify-content: left;
}

@media screen and (max-width: 768px) {
    .footer-container{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    .column {
      margin: 10px 0;
    }

    .social-media{
        justify-content: center;
    }
}   

.copyright{
    background-color: #332225;
    color: white;
    text-align: center;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}