* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inter", sans-serif;
}

main {
    text-align: center;
}

/* HEADER */

header {
    background-color: #84C992;
    height: 3.875rem;
    display: flex;
    justify-content: space-between;
}

.menu-h1 {
    font-size: 32px;
    margin-left: 10vw;
}

.logo {
    text-align: center;
    margin-left: 30%;
}

.right-logos {
    display: flex;
    align-items: center;
}

.right-logos img {
    max-width: 50%;
    max-height: 50%;
    margin: 1vw;
}

.left-logos {
    display: flex;
    align-items: center;
}

.left-logos img {
    max-width: 50%;
    max-height: 50%;
    margin: 1vw;
}

/* PROGRESS BAR */

.progress-bar {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

ul {
    display: flex;
}

ul li {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul li .progress {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #A8A8A8;
    margin: 12px 52px;
    display: grid;
    place-items: center;
    color: #fff;
    position: relative;
    cursor: pointer;
}

.progress::after {
    content: " ";
    position: absolute;
    width: 105px;
    height: 2.5px;
    background-color: #A8A8A8;
    right: 30px;
}

#one {
    background-color: #65DB7B;
}

#two {
    background-color: #65DB7B;
}

#three {
    background-color: #65DB7B;
}

.two.progress.two::after {
    background-color: #65DB7B;
}

.three.progress.three::after {
    background-color: #65DB7B;
}

.one::after {
    width: 0;
    height: 0;
}

ul li .progress .uil {
    display: none;
}

/* CONTENT */

#checklogo {
    display: block;
    margin: 3rem auto;
}

.confirmation-text {
    text-align: center;
    line-height: 2.5rem;
}

.confirmation-text p {
    font-size: 18px;
}

#see-more {
    background-color: #4EC965;
    border-radius: 30px;
    border: none;
    box-shadow: 0px 4px 5px 0px grey;
    color: white;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 2rem auto;
    padding: 10px 25px;
    text-decoration: none;
    width: auto;
}

#meez-cart {
    display: block;
    margin: 2rem auto;
}

#searchInput {
    flex-grow: 1; 
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#searchPanel{
  background-color: rgba(12, 12, 12, 0.8);
  color: rgba(120, 22, 22,0.5);
  height:100%; 
  width:100%;
  top: 0;
  left: 0;
  position: fixed;
  align-items: center;
  align-items: center;
}

.search-panel-white-container{
  background-color:white; 
  width: 100%; height:30%; 
  margin-top: 3vw;
  text-align: center;
  padding-top: 5%;
  opacity: 1;
  display: flex;
  justify-content: center;
  border-top: 3.875rem;
  border-style: solid;
  border-color: #84C992;
}

#search{
  border-radius: 20px;
  background-color: #ebebeb;
  height: 2.5vw;
  width: 50vw;
  font-size: 20px;
}

#searchBtn{
  align-items: center;
  margin-left: 1vw;
  background-color: white;
  border-color: white;
}

.search-history{
  display: flex;
  justify-content: left;
  margin-top: 3vw;
  width: 90%;
  color: #000000;
  margin-left: 6.5vw;

}

.search-history-content{
  display: flex;
  justify-content: center;
  margin-top: 1vw;
  width: 90%;
  margin-left: 6.5vw;
  margin-right: 6.5vw;
  
}

.search-history-content p{
  margin: 0.5vw;
  background-color: #dcdcdc;
  border-radius: 15px;
  color: #000000;
  padding: 0.5vw;
  display: flex;
  align-items: center;
}

.search-history-content p:hover{
  margin: 0.5vw;
  background-color: #bfbfbf;
  border-radius: 15px;
  color: #000000;
  padding: 0.5vw;
}

/* Side Menu Panel*/
#sidePanel {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    align-items: center;
    visibility: hidden;
    z-index: 20;
  }
  
  #sideMenu {
    transition: 0.5s cubic-bezier(.36, -0.01, 0, .77);
    background-color: white;
    width: 20%;
    height: 100%;
    left: 0%;
    text-align: center;
    margin-left: -20%;
    display: flex;
    justify-content: left;
    border-top: 3.875rem;
    border-style: solid;
    border-color: #84C992;
  }
  
  #sideMenu a {
      color: #000000;
      text-decoration: none; 
  }
  
  #sideMenu a:visited {
      color: #000000; 
  }
  
  
  #sideMenu a:active {
      color: #000000; 
  }
  
  
  
  #sideMenu p{
    font-size: 20px;
    margin: 3vw;
    margin-right: 5vw;
    margin-left: 5vw;
    text-align: left;
    display: block;
    margin-bottom: 1vw;
  
  
  }
  
  #sideMenu p:hover{
      font-weight: bold;
  
  }


/* FOOTER */

.footer-container {
    background-color: #84C992;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    /* max-width: 1500px; */
    padding: 0 20px;
}

.column {
    flex: 1;
    margin: 0.5rem;
    min-width: 200px;
    padding: 1rem;
}

.column h3 {
    margin-bottom: 10px;
    line-height: 2rem;
}

.column p {
    line-height: 2rem;
}

.column a {
    text-decoration: none;
    color: black;
}

#Hotline {
    line-height: normal;
}

.social-media {
    padding-top: 1rem;
    display: flex;
    gap: 1rem;
    justify-content: left;
}

@media screen and (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .column {
        margin: 10px 0;
    }

    .social-media {
        justify-content: center;
    }
}

.copyright {
    background-color: #332225;
    color: white;
    text-align: center;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}