* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
button {
    font-family: "Inter", sans-serif;
}

main {
    overflow-x: hidden;
}

/* HEADER */

header {
    background-color: #84C992;
    height: 3.875rem;
    display: flex;
    justify-content: space-between;
}

.menu-h1 {
    font-size: 32px;
    margin-left: 10vw;
}

.logo {
    text-align: center;
    margin-left:30%;
}

.right-logos {
    display: flex;
    align-items: center;

}

.right-logos img {
    max-width: 50%;
    max-height: 50%;
    margin: 1vw;
}

.left-logos {
    display: flex;
    align-items: center;

}

.left-logos img {
    max-width: 50%;
    max-height: 50%;
    margin: 1vw;
}

/* MAIN BANNER */

.main-banner {
    width: 100%;
    height: auto;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.main-banner h1 {
    font-size: 4VW;
    font-weight: normal;
    left: 50VW;
    line-height: 1.5em;
    margin-bottom: 5.3rem;
    position: absolute;
    text-align: center;
    min-width: 100%;
    top: 15VH;
    transform: translate(-50%, -50%);
}

.start-now {
    background-color: #4EC965;
    border-radius: 30px;
    border: none;
    box-shadow: 0px 4px 5px 0px grey;
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
    left: 50%;
    padding: 0.625rem 1.563rem;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
}

.main-banner img {
    width: 100%;
    height: auto;
    vertical-align: top;
}

.start-now:hover {
    background-color: #3FAB53;
}

@media screen and (max-width: 768px) {
    .main-banner h1 {
        font-size: 3VW;
        top: 25%;
    }

    .start-now {
        font-size: 2VW;

    }
}

/* PROMOTION BANNER */

.promo {
    background-color: #332225;
    text-align: center;
}

.promo h2 {
    color: white;
    font-size: 3VW;
    line-height: 1.5em;
    margin-bottom: 20px;
    padding-top: 2rem;
    text-align: center;
}

.promo p {
    color: white;
    font-size: 1.5rem;
    line-height: 1.5em;
    margin-bottom: 1.563rem;
    padding-bottom: 1em;
    text-align: center;
}

.promo strong {
    color: #D99DA6;
}

.try-now {
    display: inline-block;
    background-color: #4EC965;
    border-radius: 30px;
    border: none;
    box-shadow: 0px 4px 3px 0px rgb(22, 22, 22);
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    margin-bottom: 3rem;
}

.try-now:hover {
    background-color: #3FAB53;
}

/* WHY US? SECTION */

.why-us {
    background-color: #ECECEC;
    text-align: center;
}

.why-us h2 {
    text-align: center;
    font-size: 2.5rem;
    line-height: 1.5em;
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.features {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.feature {
    text-align: center;
    width: 22.5%;
}

.feature img {
    max-width: 16rem;
    max-height: 16rem;
}

.feature h3 {
    font-size: 1.4rem;
    line-height: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.view-menu {
    background-color: #4EC965;
    border-radius: 30px;
    border: none;
    box-shadow: 0px 4px 3px 0px grey;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    padding: 10px 25px;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 3rem;
    text-decoration: none;
    display: inline-block;
}

.view-menu:hover {
    background-color: #3FAB53;
}

@media (max-width: 1280px) {
    .features {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .feature {
        display: flex;
        width: 100%;
        margin: 5% 0;
        gap: 10%;
    }

    .feature img {
        text-align: left;
        max-width: 45%;
        max-height: auto;
        margin-left: 17%;
    }
    
    .feature h3 {
        font-size: 1rem;
        text-align: left;
    }

    .feature p {
        text-align: left;
        margin-right: 5%;
    }

    .view-menu {
        margin-top: 3rem;
    }
}

/* TOP MENU BANNER */

.top-menu {
    text-align: center;
}

.top-menu h2 {
    text-align: center;
    font-size: 2.5rem;
    line-height: 1.5em;
    padding-top: 6rem;
    padding-bottom: 3rem;
}

.carousel-container {
    margin: 1rem;
    position: relative;
    overflow: hidden;
    padding-right: 10%;
}

.carousel {
    height: 30rem;
    width: 60VW;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 8rem;
    margin-right: 25%;
    margin-left: 25%;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.carousel-item {
    width: 20%;
    height: 100%;
    flex: 1 0 auto;
}

.carousel img {
    display: block;
    object-fit: fill;
}

.view-more {
    background-color: #4EC965;
    border-radius: 30px;
    border: none;
    box-shadow: 0px 4px 3px 0px grey;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    padding: 10px 25px;
    text-align: center;
    margin-bottom: 3rem;
    text-decoration: none;
    display: inline-block;
}

.view-more:hover {
    background-color: #3FAB53;
}

.top-menu p {
    margin-bottom: 3rem;
}

@media screen and (max-width: 768px) {
    .carousel{
        height: auto;
        width: 80VW;
        gap: 10rem;
        margin-left: 10%;
    }
}

/* RATING BANNER */

.magic-of-meez {
    background-color: #D9D9D9;
    text-align: center;
}

.magic-of-meez h2 {
    font-size: 2.5rem;
    line-height: 1.5em;
    padding-top: 6rem;
    padding-bottom: 3rem;
}

.magic-of-meez strong {
    color: #D99DA6;
}

.meez-video {
    text-align: center;
    width: 50VW;
}

.awards {
    display: table;
    table-layout: auto;
    margin-top: 5rem;
    width: 50VW;
}

.award {
    display: table-cell;
    padding: 0 1.25rem;
    vertical-align: baseline;
}

.award img {
    vertical-align: bottom;
}

.award p {
    margin: 0;
    padding-top: 2rem;
    text-align: center;
}

.two-column>* {
    float: left;
    width: 50%;
    margin-left: 0rem;
    margin-bottom: 6rem;
}

.two-column:after {
    content: "";
    display: table;
    table-layout: auto;
    clear: both;
}

@media (max-width:768px) {
    .meez-video {
        width: 100%;
        text-align: center;
    }
    .awards {
        width: 100%;
    }
}

/* REVIEW BANNER */

.reviews {
    background-color: #D99DA6;
    text-align: center;
}

.reviews h2 {
    font-size: 2.5rem;
    line-height: 1.5em;
    padding-top: 6rem;
    padding-bottom: 3rem;
}

.review-flex {
    display: flex;
    justify-content: space-evenly;
    margin-right: 10VW;
    margin-left: 10VW;
}

.review {
    background-color: white;
    border-radius: 2rem;
    box-shadow: 0px 4px 6px 2px grey;
    height: auto;
    min-width: 25VW;
    text-align: left;
    margin: 1rem;
    padding: 1rem;
}

.review-img-name {
    display: flex;
    padding-left: 2rem;
    padding-top: 1rem;
}

.review h3 {
    padding-left: 1rem;
    padding-top: 0.6rem;
}

.review p {
    padding-left: 2rem;
    padding-bottom: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    line-height: 1.5rem;
}

.order-now {
    background-color: #4EC965;
    border-radius: 30px;
    border: none;
    box-shadow: 0px 4px 3px 0px grey;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    padding: 10px 25px;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 6rem;
    text-decoration: none;
    display: inline-block;
}

.order-now:hover {
    background-color: #3FAB53;
}

@media (max-width:768px) {
    .review-flex {
        flex-direction: column;
    }
}

#searchInput {
    flex-grow: 1; 
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#searchPanel{
  background-color: rgba(12, 12, 12, 0.8);
  color: rgba(120, 22, 22,0.5);
  height:100%; 
  width:100%;
  top: 0;
  left: 0;
  position: fixed;
  align-items: center;
  align-items: center;
}

.search-panel-white-container{
  background-color:white; 
  width: 100%; height:30%; 
  margin-top: 3vw;
  text-align: center;
  padding-top: 5%;
  opacity: 1;
  display: flex;
  justify-content: center;
  border-top: 3.875rem;
  border-style: solid;
  border-color: #84C992;
}

#search{
  border-radius: 20px;
  background-color: #ebebeb;
  height: 2.5vw;
  width: 50vw;
  font-size: 20px;
}

#searchBtn{
  align-items: center;
  margin-left: 1vw;
  background-color: white;
  border-color: white;
}

.search-history{
  display: flex;
  justify-content: left;
  margin-top: 3vw;
  width: 90%;
  color: #000000;
  margin-left: 6.5vw;

}

.search-history-content{
  display: flex;
  justify-content: center;
  margin-top: 1vw;
  width: 90%;
  margin-left: 6.5vw;
  margin-right: 6.5vw;
  
}

.search-history-content p{
  margin: 0.5vw;
  background-color: #dcdcdc;
  border-radius: 15px;
  color: #000000;
  padding: 0.5vw;
  display: flex;
  align-items: center;
}

.search-history-content p:hover{
  margin: 0.5vw;
  background-color: #bfbfbf;
  border-radius: 15px;
  color: #000000;
  padding: 0.5vw;
}

/* Side Menu Panel*/
#sidePanel {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    align-items: center;
    visibility: hidden;
    z-index: 20;
  }
  
  #sideMenu {
    transition: 0.5s cubic-bezier(.36, -0.01, 0, .77);
    background-color: white;
    width: 20%;
    height: 100%;
    left: 0%;
    text-align: center;
    margin-left: -20%;
    display: flex;
    justify-content: left;
    border-top: 3.875rem;
    border-style: solid;
    border-color: #84C992;
  }
  
  #sideMenu a {
      color: #000000;
      text-decoration: none; 
  }
  
  #sideMenu a:visited {
      color: #000000; 
  }
  
  
  #sideMenu a:active {
      color: #000000; 
  }
  
  
  
  #sideMenu p{
    font-size: 20px;
    margin: 3vw;
    margin-right: 5vw;
    margin-left: 5vw;
    text-align: left;
    display: block;
    margin-bottom: 1vw;
  
  
  }
  
  #sideMenu p:hover{
      font-weight: bold;
  
  }
  
  
  img[src="../image/owl peaking.png"]{
      position: absolute;
      bottom: 0; 
      top: 10vw;
      left: 0; 
      width: 10vw; 
      height: auto;
      margin: 0vw;
    }
  
  img[src="../image/owl i mage reverse.png"]{
      position: absolute;
      bottom: 0; 
      top: 30vw;
      right: 0; 
      width: 17vw;
      height: auto;
      margin: 0vw;
  }  

/* FOOTER */

.footer-container {
    background-color: #84C992;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    padding: 0 20px;
}

.column {
    flex: 1;
    margin: 0.5rem;
    min-width: 200px;
    padding: 1rem;
}

.column h3 {
    margin-bottom: 10px;
    line-height: 2rem;
}

.column p {
    line-height: 2rem;
}

.column a {
    text-decoration: none;
    color: black;
}

#Hotline {
    line-height: normal;
}

.social-media {
    padding-top: 1rem;
    display: flex;
    gap: 1rem;
    justify-content: left;
}

#filterSidebar {
    height: 100%;
    width: 100%; 
    top: 0;
    right: 0; 
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    visibility: hidden; 
    z-index: 10;
    transition: width 0.5s; 
  }
  
  
.filter-options {
    height: 100%;
    width: 20%; 
    position: fixed;
    z-index: 21;
    top: 0;
    right: 0;
    background-color: #fbfbfb;
    overflow-x: hidden;
    padding-top: 3vw;
    padding: 2vw;
    border-top: 3.875rem;
    border-style: solid;
    border-color: #84C992;
    transition: ease-out;
  }

@media screen and (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .column {
        margin: 10px 0;
    }

    .social-media {
        justify-content: center;
    }
}

.copyright {
    background-color: #332225;
    color: white;
    text-align: center;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}
  