header{
    background-color: #84C992;
    height: 3.875rem;
    display:flex;
    justify-content:space-between;
}

.logo{
    text-align: center;

}

.right-logos{
    display: flex;
    align-items: center;

}

.right-logos img{
    max-width: 50%;
    max-height: 50%;
    margin: 1vw;

}

.left-logos{
    display: flex;
    align-items: center;

}

.left-logos img{
    max-width: 50%;
    max-height: 50%;
    margin: 1vw;
    
}

.carousel h2{
    margin: 3vw auto;
}

.carousel {
    display: flex;
    width: 100%;  /* Ensures the carousel takes full width of the container */
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.slide {
    flex: 0 0 240px;  /* Increased from 120px to 240px */
    border-radius: 0.5rem;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    box-shadow: 1px 5px 15px #1e0e3e;
    position: relative;
    overflow: hidden;
    scroll-snap-align: start;
    background-size: cover;
    background-position: 50%;
    height: 180px;  /* Added to control the height */
}

/* The rest of your CSS remains the same */

.slide:hover {
    flex: 0 0 500px;  /* Increased from 250px to 500px for more significant expansion */
    box-shadow: 1px 3px 15px #7645d8;
    transform: translateY(-30px);
}

.slide:hover .content {
    opacity: 1;
    transform: translateY(0%);
    visibility: visible;
}



.slide:nth-of-type(1) {
    background-image: url("../image/risotto.png")
}

.slide:nth-of-type(2) {
    background-image: url("../image/steak.png");
}

.slide:nth-of-type(3) {
    background-image: url("../image/spaghetti\'.png");
}

.slide:nth-of-type(4) {
    background-image: url("../image/spicy\ pork.png");
}

.content {
    font-size: 1.5rem;
    color: #fff;
    display: flex;
    align-items: center;
    padding: px;
    opacity: 0;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
    background: linear-gradient(0deg, rgba(2, 2, 46, 0.6755077030812324) 0%, rgba(255, 255, 255, 0) 100%);
    transform: translateY(100%);
    transition: opacity 0.5s ease-in-out, transform 0.5s 0.2s;
    visibility: hidden;
}

