*{
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inter", sans-serif;
}

/* HEADER */

header {
    background-color: #84C992;
}

.top-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}

#top-banner {
    transition: margin-left .5s;
}

.sidebar img{
    padding-left: 2rem;
}

.logo img {
    height: 50px;
    padding-left: 7rem;
}

.navigations img{
    padding-right: 2rem;
    right: 10%;
}

/* PROGRESS BAR */

.progress-bar{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

ul{
    display: flex;
}

ul li{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

ul li .progress{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #A8A8A8;
    margin: 12px 52px;
    display: grid;
    place-items: center;
    color: #fff;
    position: relative;
    cursor: pointer;
}

.progress::after{
    content: " ";
    position: absolute;
    width: 105px;
    height: 2.5px;
    background-color: #A8A8A8;
    right: 30px;
}

#one{
    background-color:#65DB7B;
}

#two {
    background-color: #65DB7B;
}

.two.progress.two::after {
    background-color: #65DB7B;
}

.one::after{
    width: 0;
    height: 0;
}

ul li .progress .uil{
    display: none;
}

/* PAYMENT METHODS */

.payment-method{
    margin-top: 5rem;
    margin-left: 22%;
}

.payment-types{
    background-color: white;
    border-radius: 2rem;
    box-shadow: 0px 4px 4px 0px grey;
    display: grid;
    grid-template-columns: [button] 8% [logo] 10% [space] 50% [text] 27% [edge-2] 5%;
    margin-left: 22%;
    max-width: 25%;
    height: 2.5rem;
    padding: 1rem;
    margin-bottom: 1.5rem;
    margin-top: 2rem;
}

.radio-button{
    margin-left: 0.5rem;
    grid-column-start: button;
    grid-column-end: logo;
    width: 25px;
    height: 25px;
    align-self: center;
}

#applepay-main img{
    grid-column-start: logo;
    grid-column-end: space;
    width: 100%;
    height: auto;
    
}

.payment-types img{
    margin-left: 0.5rem;
    grid-column-start: logo;
    grid-column-end: space;
    align-self: center;
}

.payment-types h3{
    grid-column-start: text;
    grid-column-end: edge-2;
    justify-self: end;
    align-self: center;
}

/* SELECT ADDRESS */

.address-text{
    margin-top: 5rem;
    margin-left: 22%;
}

.address{
    background-color: white;
    border-radius: 2rem;
    border: 2px solid white;
    box-shadow: 0px 4px 4px 0px grey;
    margin-left: 22%;
    max-width: 25%;
    height: auto;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    margin-top: 2rem;
}

#edit{
    margin-top: 2rem;
    text-decoration: underline;
    font-size: small;
}

/* TOTAL PRICE */

.total-and-meez img{
    margin-left: 60%;
}

.selected-method{
    background-color: white;
    border-radius: 2rem;
    box-shadow: 0px 4px 6px 2px grey;
    display: grid;
    grid-template-columns: [edge-1] 5% [text] 25% [space] 45% [button] 20% [edge-2] 5%;
    height: auto;
    margin-left: 22VW;
    max-width: 50%;
    padding: 2.5rem;
    margin-bottom: 6rem;
}

.method-text{
    grid-column-start: text;
    grid-column-end: space;
    text-align: center;
    font-size: 18px;
    line-height: 2rem;
}

.cart-continue{
    grid-column-start: button;
    grid-column-end: edge-2;
    background-color: #4EC965;
    border-radius: 30px;
    border: none;
    box-shadow: 0px 4px 5px 0px grey;
    color: white;
    cursor: pointer;
    font-size: 18px;
    padding: 10px 25px;
    align-self: center;
    text-decoration: none;
    text-align: center;
}

.cart-continue:hover{
    background-color: #3FAB53;
}

/* CONFIRMATION */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}  

.modal-content{
    background-color: #FEFEFE;
    margin: auto;
    padding: 20px;
    border: 3px solid #84C992;
    border-radius: 10px;
    width: 20%;
}

.grid-content{
    display: grid;
    grid-template-columns: [text] 70% [cost] 30%;
}

#product-name{
    margin-top: 1rem;
    margin-bottom: 2rem;
    grid-column-start: text;
}

#cost{
    margin-top: 1rem;
    margin-bottom: 2rem;
    grid-column-start: cost;
    justify-self: end;
}

#total{
    margin-bottom: 2rem;
    grid-column-start: text;
}

#total-cost{
    margin-bottom: 2rem;
    grid-column-start: cost;
    justify-self: end;
}

#order-button{
    background-color: #4EC965;
    border-radius: 30px;
    border: none;
    box-shadow: 0px 4px 5px 0px grey;
    color: white;
    cursor: pointer;
    display: block;
    font-size: 16px;
    margin: 0.5rem auto;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    width: 45%;
}

.close{
    color: #A8A8A8;
    float: right;
    font-size: 35px;
    font-weight: bold;
    grid-column-start: cost;
    justify-self: end;
}

.close:hover,
.close:focus{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* FOOTER */

.footer-container{
    background-color: #84C992;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    /* max-width: 1500px; */
    padding: 0 20px;
}

.column{
    flex: 1;
    margin: 0.5rem;
    min-width: 200px;
    padding: 1rem;
}

.column h3{
    margin-bottom: 10px;
    line-height: 2rem;
}

.column p{
    line-height: 2rem;
}

.column a{
    text-decoration: none;
    color: black;
}

#Hotline{
    line-height: normal;
}

.social-media{
    padding-top: 1rem;
    display: flex;  
    gap: 1rem;
    justify-content: left;
}

@media screen and (max-width: 768px) {
    .footer-container{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    .column {
      margin: 10px 0;
    }

    .social-media{
        justify-content: center;
    }
}   

.copyright{
    background-color: #332225;
    color: white;
    text-align: center;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}