body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    background-color: #8CC63F;
}

.top_banner{
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: fixed;
    top: 0;
    width: 100%;
    background-color: #8CC63F;
}

.logo img{
    height: 50px;
}

.navigations{
    display: flex;
    gap: 20px;
}

.navigations a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.nav-links a:hover {
    text-decoration: underline;
}